<h1>I/O</h1>

<h2>Inputs</h2>

<mat-radio-group aria-label="Select an input" style="display: flex; flex-direction: column;" [(ngModel)]="$input" name="input">
    @for (input of inputs; track input.id) {
        <mat-radio-button [value]="input">{{ input.name }}</mat-radio-button>
    }
</mat-radio-group>

<h2>Outputs</h2>

<mat-radio-group aria-label="Select an output" style="display: flex; flex-direction: column;" [(ngModel)]="$output" name="output">
    @for (output of outputs; track output.id) {
        <mat-radio-button [value]="output">{{ output.name }}</mat-radio-button>
    }
</mat-radio-group>

<h2>Messages</h2>

<button type="button" (click)="clear()">Clear</button>

<ul>
    @for (timestampedMessage of $timestampedMessages(); track timestampedMessage) {
        <li>
            <dl>
                <dt>Timestamp</dt>
                <dd>{{ timestampedMessage.timestamp|highResTimestampToTimestamp|date:'medium' }}</dd>
                <dt>Message</dt>
                <dd>{{ timestampedMessage.message|json }}</dd>
            </dl>
        </li>
    }
</ul>
