<div id="container">
    <aside>
        <a mat-icon-button routerLink="/io" routerLinkActive="active">
            <mat-icon>settings_input_component</mat-icon>
        </a>
        <a mat-icon-button routerLink="/grid" routerLinkActive="active">
            <mat-icon>grid_view</mat-icon>
        </a>
        <a mat-icon-button routerLink="/mixer" routerLinkActive="active">
            <mat-icon>instant_mix</mat-icon>
        </a>
        <a mat-icon-button routerLink="/debug" routerLinkActive="active">
            <mat-icon>bug_report</mat-icon>
        </a>
    </aside>

    <main>
        <router-outlet/>
    </main>
</div>
