@use '@angular/material' as mat;

html {
    color-scheme: dark;
    @include mat.theme((
            color: (
                    primary: mat.$azure-palette,
                    tertiary: mat.$blue-palette,
            ),
            typography: Roboto,
            density: 0,
    ));
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

#container {
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
}

aside {
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.mdc-icon-button {
    &.active {
        color: #2196F3;
    }
}
